<h1 class="fs-2 mt-3">Welcome to Bank System</h1>
<p class="text-danger"><%= flash[:alert] %></p>
<p class="text-success"><%= flash[:notice] %></p>
<hr>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <% if current_user %>
          <p>Hello, <strong><%= current_user.name %></strong></p>
          <p>Your account balance:</p>
          <p class="fs-4">R$ <%= current_user.account.account_balance %></p>
          <hr>
          <p>What you want to do?</p>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <%= link_to "Cash Withdrawal", new_withdrawal_path, class: "btn btn-primary" %>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <%= link_to "Cash Deposit", new_deposit_path, class: "btn btn-secondary" %>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Third group">
              <%= link_to "Transfer", new_transfer_path, class: "btn btn-warning" %>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <%= link_to "Statement", new_statement_path, class: "btn btn-danger" %>
            </div>
          </div>
        <% else %>
          <p>Hello, login or sign up here</p>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
