<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BANK SYSTEM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if current_user && current_user.account.status.active? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_operation_path(operable_type: "Withdrawal") %>">Cash Withdrawal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_operation_path(operable_type: "Deposit") %>">Cash Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_transfer_path %>">Cash Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_statement_path %>">Bank Statement</a>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user %>
              <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Edit Profile</a></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <% else %>
              <li><a class="dropdown-item" href="<%= new_user_session_path %>">Login</a></li>
              <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Sign up</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
