<!DOCTYPE html>
<html>
  <head>
    <title>BankSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <section class="section px-0 py-0">
      <div class="row" id="columns-body">
        <div class="col-2 pb-0 d-none d-sm-block" id="column-body">
          <%= render "layouts/side_navbar" %>
        </div>
        <div class="col" id="column-body">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
